*{
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
}
header img{
    width:30%;
    margin-left: 3%;
}
body{
    background-color: hsl(257, 40%, 49%);
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 50%;
}
main img{
    width:80%;
    margin: 8% 10%;
}
h1, .button a{
    font-family: 'Poppins', sans-serif;
}
.attribution {
    margin: 10% 10% 15% 10%;
    font-size: 78%;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
footer nav{
    display: flex;
    justify-content: center;
}
footer a {
    display: inline-block;
    border: 1px solid #ffffff;
    margin:auto 1%;
    border-radius: 50%;
    padding: 1.5% 2%;

}
#facebook{
    padding: 1.5% 3%;
}
.button{
    border: 1px solid #ffffff;
    border-radius:35px;
    font-size: 90%;
    padding: 3%;
    width:60%;
    background-color: #ffffff;
    margin: 5% auto;
    box-shadow: 0 0 1px #000000;
}
.button a{
    text-decoration: none;
}

@media screen and (max-width: 1049px) and (min-width: 480px){/*Tablet*/

}
@media screen and (min-width:1050px){ /*Desktop*/
    body{
        background-image: url("../images/bg-desktop.svg");
        background-size: 100% 100%;
    }
    header img{
        width: 14%;
        margin: 3%;
    }
    main img{
        width: 50%;
        margin: auto 5%;
        display: inline-block;
        clear: both;
        margin-right: 0;
    }
    .attribution{
        width: 40%;
        float: right;
        margin: auto 2%;  
        text-align: left;
        font-size: 110%;
    }
    .attribution h1{
        font-size: 220%;
        margin-bottom: 0;
    }
    .button{
        text-align: center;
        width: 30%;
        margin-left: 0;
    }
    footer nav{
        width: 20%;
        justify-content: flex-end;
        float:right;
        margin-right:4%;
    }
    footer a{
        margin-right: 4%;
    }
}